div
{
	font-family: "Helvetica";
}


ul
{
    list-style-type: none;
    padding:0;
    margin:0;
}

.floorButtons:hover
{
	background:#B0C4DE;
}

#initialsInput
{
	width: 50px;
}

.controlgroup-textinput
{
	padding-top:.22em;
	padding-bottom:.22em;
	height:1.25em;
}

.heatmapArea{

}

.loadmapBody{
	margin: 0px;
}

.libmap1
{
	width:83%;
	height:auto;
}

.statsOutput
{
	float:left;	
	border-style:solid;
	border-width: 2px;
	border-color:#B0C4DE;
	padding:1%;
	height:288px;
	width: 90%;
}

.pcountTable
{
	text-align: center;
}

.tableContainer
{
	float:right;
	position:relative;
	width:55%;
}

.statType
{
	font-weight:bold;
}

#dateRng
{
	border-style:solid;
	border-width: 2px;
	border-color:#B0C4DE;
	margin-bottom: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#timeRng
{
	border-style:solid;
	border-width: 2px;
	border-color:#B0C4DE;
	margin-bottom: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#dayWeek
{
	border-style:solid;
	border-width: 2px;
	border-color:#B0C4DE;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

#currentCount
{
	float:right;
	position:relative;
	top: -115px;
	right: 30px;
}

#patcounter
{
	font-size: 1.1em;
}

.formLabel
{
	text-align: center;
	font-weight: bold;
}

.daybox
{
	position:relative;
	left:40%;
}

.inputForm
{
	position:relative;
	top:35px;
	width:40%;
}

.wTable {

	float:left;
	position:absolute;
	top: 380px;
	width:90%;

	margin:0px;padding:0px;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.wTable table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.wTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.wTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.wTable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.wTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.wTable tr:hover td{
	
}
.wTable tr:nth-child(odd){ background-color:#B0C4DE; }
.wTable tr:nth-child(even)    { background-color:#ffffff; }.wTable td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.wTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.wTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.wTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.wTable tr:first-child td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.wTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #005fbf 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #005fbf 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#003f7f");	background: -o-linear-gradient(top,#005fbf,003f7f);

	background-color:#005fbf;
}
.wTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.wTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}